.App {
    text-align: center;
    padding: 20px;
  }
  
  .modules {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .module {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    width: 300px;
  }
  
  .module-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .resource-form, .module-form {
    margin-bottom: 20px;
  }
  
  .resource {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  .link-resource, .file-resource, .image-resource {
    display: flex;
    align-items: center;
  }
  
  .image-resource img {
    max-width: 100px;
    max-height: 100px;
  }
  